<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--属性注入-->
    <!--scope= singleton 可以解决循环依赖的问题-->
    <!--replace-method的使用demo-->
    <bean id="person" class="com.cyl.demo.model.Person">
        <property name="age" value="12" />
        <property name="name" value="caoyulong" />
        <replaced-method name="getCat" replacer="personReplacer"></replaced-method>
    </bean>
    <bean id="personReplacer" class="com.cyl.demo.model.PersonReplacer" ></bean>

    <!--构造方法注入 并且显示的指定参数的索引 -->
    <!--不能解决循环依赖问题-->
    <bean id="car" class="com.cyl.demo.model.Car">
        <constructor-arg index="0" type="java.lang.String">
            <value>宝马</value>
        </constructor-arg>
        <constructor-arg index="1" type="java.lang.String">
            <value>红色</value>
        </constructor-arg>
        <constructor-arg index="2" type="java.lang.Integer">
            <value>1200</value>
        </constructor-arg>
    </bean>

    <!--非静态工厂方法注入-->
    <bean id="catFactory" class="com.cyl.demo.model.CatFactory"></bean>
    <bean id="cat" factory-bean="catFactory" factory-method="getCat"></bean>

    <!--静态方法注入-->
    <bean id="cat2" class="com.cyl.demo.model.CatFactory" factory-method="getCat2"></bean>


    <bean id="beanLifecycleDemo" init-method="myInit" destroy-method="myDestroy" class="com.cyl.demo.beanLifecycleINBeanFactory.BeanLifecycleDemo">
        <property name="name" value="caoyulong" />
    </bean>


</beans>